<%= form_with model: task,
              url: (task.id ? task_url(id: task.id) : tasks_url),
              method: (task.id ? :patch : :post),
              id: "task_form",
              data: { controller: "autosave", "autosave-target": "form", action: "ajax:success->autosave#success ajax:error->autosave#error" },
              class: "w-full flex flex-col justify-between" do |f|
%>

  <div class="w-full mt-4 flex justify-between">
    <div class="relative" data-controller="task-dropdown">
      <%= f.hidden_field :status, data: { action: "change->autosave#save", "task-dropdown-target": "value" } %>
      <div data-action="click->task-dropdown#toggle click@window->task-dropdown#hide" class="inline-block select-none">
        <div class="p-2 flex items-center rounded text-sm text-gray-600 transition cursor-pointer hover:bg-gray-100">
          <span class="pr-4" style="font-family: Cantarell, sans-serif;" data-task-dropdown-target="title"><%= task.status.titleize %></span>
          <%= heroicon "chevron-down", options: { class: "h-4 w-4 inline-block" } %>
        </div>
      </div>

      <div data-task-dropdown-target="menu" class="absolute left-0 hidden" style="z-index: 9997;">
        <div class="bg-white shadow rounded border">
          <% Task::STATUSES.each do |status| %>
            <div class="w-32 pl-8 px-4 py-2 flex items-center rounded text-sm cursor-pointer hover:bg-gray-100" data-action="click->task-dropdown#toggle click->task-dropdown#set" data-value="<%= status %>">
              <%= status.titleize %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <span class="text-gray-400 text-sm transition" data-autosave-target="status"></span>
  </div>

  <%= f.text_field :title,
                   placeholder: "New task",
                   class: "mt-2 w-full font-bold rounded p-1 px-2 text-3xl text-gray-900 transition border border-transparent hover:border-gray-300 focus:outline-none #{'bg-red-100' if task.errors[:title].any?}",
                   data: { action: "blur->autosave#save" },
                   style: "font-family: Cantarell, sans-serif;",
                   autocomplete: "off"
  %>

  <div class="flex justify-left mt-4">
    <div class="mr-2 relative" data-controller="task-dropdown">
      <%= f.hidden_field :type, data: { action: "change->autosave#save", "task-dropdown-target": "value" } %>
      <div data-action="click->task-dropdown#toggle click@window->task-dropdown#hide" data-task-dropdown-target="button" class="inline-block select-none">
        <div class="p-2 flex items-center rounded text-sm text-gray-600 transition cursor-pointer hover:bg-gray-100">
          <div data-task-dropdown-target="title">
            <%= heroicon icon_for_type(task.type), options: { class: "h-4 w-4 inline-block text-#{color_for_type(task.type)}" } %>
            <span class="ml-4 text-<%= color_for_type(task.type) %>"><%= task.type.capitalize %></span>
          </div>
          <%= heroicon "chevron-down", options: { class: "ml-4 h-4 w-4 inline-block" } %>
        </div>
      </div>

      <div data-task-dropdown-target="menu" class="absolute left-0 hidden" style="z-index: 9997;">
        <div class="bg-white shadow rounded border">
          <% Task::TYPES.each do |type| %>
            <div class="w-32 pl-8 px-4 py-2 flex items-center rounded text-sm cursor-pointer hover:bg-gray-100" data-action="click->task-dropdown#toggle click->task-dropdown#set" data-value="<%= type %>">
              <%= heroicon icon_for_type(type), options: { class: "h-4 w-4 inline-block text-#{color_for_type(type)}" } %>
              <span class="ml-4 text-<%= color_for_type(type) %>"><%= type.capitalize %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="mr-2 relative" data-controller="task-dropdown">
      <div data-action="click->task-dropdown#toggle click@window->task-dropdown#hide" class="inline-block select-none">
        <div class="p-2 flex items-center rounded text-sm text-gray-400 hover:bg-gray-100 focus:outline-none cursor-pointer">
          <%= f.hidden_field :deadline, value: task.deadline, data: { action: "change->autosave#save", "task-dropdown-target": "value" } %>
          <div class="text-gray-<%= task.deadline ? "600" : "400" %>">
            <%= heroicon "calendar", options: { class: "h-4 w-4 inline-block" } %>
            <span class="pl-2 pr-4" data-task-dropdown-target="title"><%= task.deadline ? I18n.l(task.deadline, format: :long) : "No deadline" %></span>
          </div>
          <%= heroicon "chevron-down", options: { class: "h-4 w-4 inline-block" } %>
        </div>
      </div>
      <div data-task-dropdown-target="menu" class="absolute left-0 hidden">
        <div class="bg-white shadow rounded border">
          <% if task.deadline %>
            <div class="w-72 p-4 py-2 flex items-center rounded text-sm cursor-pointer hover:bg-gray-100" data-action="click->task-dropdown#toggle click->task-dropdown#set" data-value="" data-title="No deadline">
              <div class="text-gray-400">
                <%= heroicon "calendar", options: { class: "h-4 w-4 inline-block" } %>
                <span class="pl-2 pr-4">No deadline</span>
              </div>
            </div>
          <% end %>
          <div class="w-72 p-4">
            <%= turbo_frame_tag "calendar", src: task_calendar_path(task_id: task.id, year: Date.current.year, month: Date.current.month) %>
          </div>
        </div>
      </div>
    </div>

    <div class="mr-2 relative" data-controller="task-dropdown">
      <div data-action="click->task-dropdown#toggle click@window->task-dropdown#hide" class="inline-block select-none">
        <div class="p-2 flex items-center rounded text-sm text-gray-400 hover:bg-gray-100 focus:outline-none cursor-pointer">
          <%= f.hidden_field :user_id, value: task.user_id, data: { action: "change->autosave#save", "task-dropdown-target": "value" } %>
          <div class="text-gray-<%= task.user ? "600" : "400" %>" data-task-dropdown-target="title">
            <%= heroicon "user", options: { class: "h-4 w-4 inline-block" } %>
            <span class="pl-2 pr-4"><%= task.user&.name || "No assignee" %></span>
          </div>
          <%= heroicon "chevron-down", options: { class: "h-4 w-4 inline-block" } %>
        </div>
      </div>
      <div data-task-dropdown-target="menu" class="absolute left-0 hidden">
        <div class="bg-white shadow rounded border">
          <% if task.user %>
            <div class="w-64 px-4 py-2 flex items-center rounded text-sm cursor-pointer hover:bg-gray-100" data-action="click->task-dropdown#toggle click->task-dropdown#set" data-value="">
              <div class="text-gray-400">
                <%= heroicon "user", options: { class: "h-4 w-4 inline-block" } %>
                <span class="pl-2 pr-4">No assignee</span>
              </div>
            </div>
          <% end %>
          <% @users.each do |user| %>
            <div class="w-64 px-4 py-2 flex items-center rounded text-sm cursor-pointer hover:bg-gray-100" data-action="click->task-dropdown#toggle click->task-dropdown#set" data-value="<%= user.id %>">
              <div class="text-gray-600">
                <%= heroicon "user", options: { class: "h-4 w-4 inline-block" } %>
                <span class="pl-2 pr-4"><%= user.name %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div data-controller="rich-text" class="my-4 p-4 pb-2 rounded border border-white hover:border-gray-200">
    <%= f.hidden_field :description, data: { action: "change->autosave#save", rich_text_target: "hidden" } %>
    <div data-rich-text-target="container">
      <%= raw(task.description) %>
    </div>

    <div class="mt-8 text-gray-400 text-sm" data-rich-text-target="toolbar">
      <button class="rich-text-button ql-bold" title="Bold">
        <span class="collecticon collecticon-bold w-3 h-3"></span>
      </button>
      <button class="rich-text-button ql-italic" title="Italic">
        <span class="collecticon collecticon-italic w-3 h-3"></span>
      </button>
      <button class="rich-text-button ql-underline" title="Underline">
        <span class="collecticon collecticon-underline w-3 h-3"></span>
      </button>
      <button class="rich-text-button ql-strike" title="Strikethrough">
        <span class="collecticon collecticon-minus w-3 h-3"></span>
      </button>
      <span class="m-4"></span>
      <button class="rich-text-button ql-list" value="bullet" title="List">
        <span class="collecticon collecticon-list w-3 h-3"></span>
      </button>
      <button class="rich-text-button ql-list" value="ordered" title="Numbered list">
        <span class="collecticon collecticon-list-numbered w-3 h-3"></span>
      </button>
      <span class="m-4"></span>
      <button class="rich-text-button ql-blockquote" title="Quote">
        <span class="collecticon collecticon-quote-right w-3 h-3"></span>
      </button>
      <button class="rich-text-button ql-code-block" title="Code block">
        <span class="collecticon collecticon-code w-3 h-3"></span>
      </button>
      <div class="hidden float-right">
        <button class="rich-text-button" title="Undo" data-action="click->rich-text#undo">
          <span class="collecticon collecticon-arrow-semi-spin-ccw w-3 h-3"></span>
        </button>
        <button class="rich-text-button" title="Redo" data-action="click->rich-text#redo">
          <span class="collecticon collecticon-arrow-semi-spin-cw w-3 h-3"></span>
        </button>
      </div>
    </div>
  </div>

  <% task.relationships.each_key do |relationship_type| %>
    <% next if task.send(relationship_type).empty? %>
    <div class="text-xs font-bold text-gray-400 my-4"><%= relationship_type.to_s.titleize %></div>

    <% task.send(relationship_type).each do |to_task| %>
      <%= link_to edit_task_path(to_task.id), data: { action: "click->task-modal#open", "turbo-frame": "task" } do %>
        <div class="p-1 group flex items-center rounded text-sm text-gray-600 transition cursor-pointer hover:bg-gray-100">
          <%= heroicon icon_for_type(to_task.type), options: { class: "h-4 w-4 inline-block text-#{color_for_type(to_task.type)}" } %>
          <span class="ml-4"><%= to_task.title %></span>

          <%= link_to relationship_url(from_id: task.id, type: relationship_type, to_id: to_task.id, task_id: task.id),
                      method: :delete,
                      class: "ml-auto p-2 inline-flex items-center rounded-sm transition text-gray-400 opacity-0 hover:bg-gray-200 group-hover:opacity-100" do %>
            <%= heroicon "trash", options: { class: "h-4 w-4 ml-auto inline-block" } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% unless task.new_record? %>
    <div class="w-full mt-4 flex justify-between">
      <div class="text-gray-400 text-xs transition" title="<%= task.created_at.iso8601 %>">
        Created <%= distance_of_time_in_words(task.created_at, Time.zone.now) %> ago
      </div>

      <%= link_to task_path(id: task.id), method: :delete, data: { confirm: "Are you sure you want to permanently delete the task?" }, class: "p-2 inline-flex items-center rounded-sm transition text-red-400 hover:bg-red-100 hover:text-red-600" do %>
        <%= heroicon "trash", options: { class: "h-4 w-4 ml-auto inline-block" } %>
      <% end %>
    </div>
  <% end %>
<% end %>
