<%= form_with model: task,
              url: (task.id ? task_url(id: task.id) : tasks_url),
              method: (task.id ? :patch : :post),
              id: "task_form",
              data: { controller: "autosave", "autosave-target": "form", action: "ajax:success->autosave#success ajax:error->autosave#error" },
              class: "w-full flex flex-col justify-between" do |f|
%>
  <div class="relative" data-controller="dropdown">
    <div data-action="click->dropdown#toggle click@window->dropdown#hide" data-dropdown-target="button" class="inline-block select-none">
      <div class="w-20 p-2 flex items-center rounded text-sm text-gray-600 transition cursor-pointer hover:bg-gray-100">
        <span class="pr-4"><%= task.status.capitalize %></span>
        <%= heroicon "chevron-down", options: { class: "h-4 w-4 inline-block" } %>
      </div>
    </div>
    <div data-dropdown-target="menu" class="absolute left-0 hidden" style="z-index: 9997;">
      <div class="bg-white shadow rounded border">
        <% Task::STATUSES.each do |status| %>
          <div class="w-32 pl-8 px-4 py-2 flex items-center rounded text-sm cursor-pointer hover:bg-gray-100" data-action="click->dropdown#toggle">
            <%= status.titleize %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= f.text_field :title,
                   placeholder: "New task",
                   class: "w-full font-bold text-3xl text-gray-900 transition hover:bg-gray-100 focus:outline-none",
                   data: { action: "keyup->autosave#save" },
                   autocomplete: "off"
  %>

  <div class="flex justify-left mt-4">
    <div class="relative" data-controller="dropdown">
      <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
        <div class="p-2 flex items-center rounded text-sm text-<%= color_for(task.type) %> transition hover:bg-gray-100">
          <%= heroicon icon_for(task.type), options: { class: "h-4 w-4 inline-block" } %>
          <span class="ml-2"><%= task.type.capitalize %></span>
          <%= heroicon "chevron-down", options: { class: "ml-4 h-4 w-4 inline-block" } %>
        </div>
      </div>
      <div data-dropdown-target="menu" class="absolute left-0 hidden">
        <div class="bg-white shadow rounded border">
          <% Task::TYPES.each do |type| %>
            <%= link_to "#", data: { action: "click->dropdown#toggle" } do %>
              <div class="w-32 px-4 py-2 flex items-center rounded text-sm text-<%= color_for(type) %> hover:bg-gray-100">
                <%= heroicon icon_for(type), options: { class: "h-4 w-4 inline-block" } %>
                <span class="ml-4"><%= type.capitalize %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="ml-2 p-2 flex items-center rounded text-sm text-gray-400 cursor-pointer hover:bg-gray-100 focus:outline-none">
      <%= heroicon "calendar", options: { class: "h-4 w-4 inline-block" } %>
      <span class="ml-2">No deadline</span>
      <%= heroicon "chevron-down", options: { class: "ml-4 h-4 w-4 inline-block" } %>
    </div>

    <div class="ml-2 p-2 flex items-center rounded text-sm text-gray-400 hover:bg-gray-100 focus:outline-none cursor-pointer">
      <%= heroicon "user", options: { class: "h-4 w-4 inline-block" } %>
      <span class="pl-2 pr-4">No assignee</span>
      <%= heroicon "chevron-down", options: { class: "h-4 w-4 inline-block" } %>
    </div>
  </div>

  <%= f.text_area :description,
                  placeholder: "Description of your task...",
                  class: "w-full h-28 mt-4 text-gray-900 resize-none transition hover:bg-gray-100 focus:outline-none",
                  data: { action: "keyup->autosave#save" },
                  autocomplete: "off"
  %>

  <div class="w-full mt-4 flex justify-between">
    <span class="text-gray-400 text-sm" data-autosave-target="status"></span>

    <%= link_to "#", data: { action: "click->task#delete", id: task.id }, class: "w-32 p-2 text-center rounded-sm transition text-gray-600 text-red-400 hover:bg-red-100 hover:text-red-600" do %>
      <%= heroicon "trash", options: { class: "h-4 w-4 ml-auto inline-block" } %> Delete task
    <% end %>
  </div>
<% end %>
