<%= turbo_frame_tag "task" %>

<div class="container m-auto flex flex-wrap justify-start" data-controller="task-modal" data-task-modal-prevent-default-action-opening="false">
  <%= render partial: "tasks/modal_form" %>

  <% @tasks.each do |task| %>
    <%= render partial: "tasks/task", locals: { task: task } %>
  <% end %>

  <%= link_to new_task_path,
              class: "w-16 h-16 bg-red-600 rounded-full hover:bg-red-500 shadow-md focus:outline-none text-white",
              data: { action: "click->task-modal#open", "turbo-frame": "task" } do %>
    <%= heroicon "plus" %>
  <% end %>
</div>
