<%= turbo_frame_tag "task" %>

<div class="container flex flex-wrap" data-controller="task-modal" data-task-modal-prevent-default-action-opening="false" data-task-modal-prevent-default-action-closing="false">
  <%= render partial: "tasks/modal_form" %>

  <div class="w-full h-full flex justify-center p-10" data-controller="graph">
    <svg id="svg-canvas" class="" data-graph-target="container"></svg>
  </div>

  <% @tasks.each do |task| %>
    <%= render partial: "tasks/task", locals: { task: task } %>
  <% end %>

  <%= link_to new_task_path, class: "m-8", title: "Create new task...", data: { action: "click->task-modal#open", "turbo-frame": "task" } do %>
    <div class="w-64 h-28 p-4 flex flex-col justify-center content-center items-center bg-white opacity-50 rounded-sm shadow-md border border-gray-200 hover:opacity-100 cursor-pointer">
      <h1 class="text-gray-600 font-medium text-lg mb-2" style="font-family: Cantarell, sans-serif;">New task</h1>
      <%= heroicon "plus", options: { class: "w-8 h-8 text-gray-600" } %>
    </div>
  <% end %>
</div>
