<!DOCTYPE html>
<html>
  <head>
    <title>Code Red</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
    <%= yield :head %>
  </head>

  <body>
    <div class="bg-gray-200">
      <div class="flex flex-col sm:flex-row sm:justify-start">
        <div class="w-64 h-screen bg-white">
          <div class="flex items-center mt-10 mx-8">
            <%= heroicon "clock", options: { class: "w-7 text-red-400"} %>
            <span class="mx-4 text-xl">Code Red</span>
          </div>

          <nav class="mt-10">
            <a class="flex items-center py-2 px-8 bg-gray-200 text-gray-700 border-r-4 border-gray-700" href="#">
              <%= heroicon "clipboard-list", variant: :outline, options: { class: "w-5" } %>
              <span class="mx-4 font-medium">Tasks</span>
            </a>
          </nav>

          <div class="absolute bottom-0 my-10">
            <a class="flex items-center py-2 px-8 text-gray-500 hover:text-gray-600" href="#">
              <%= heroicon "cog", variant: :outline, options: { class: "w-5" } %>
              <span class="mx-4 font-medium">Settings</span>
            </a>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>

    <div class="fixed bottom-5 w-full text-center text-gray-400">
      <a href="https://florian.dejonckhee.re/" target="_blank">Made with <%= heroicon "heart", options: { class: "inline w-4 text-red-600" } %> in Belgium</a>
    </div>
  </body>
</html>
