<!DOCTYPE html>
<html>
  <head>
    <title>Code Red</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= javascript_pack_tag 'application', "data-turbo-track": "reload" %>
    <%= stylesheet_pack_tag 'application', "data-turbo-track": "reload" %>

    <%= turbo_include_tags %>

    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>

    <%= yield :head %>
  </head>

  <body>
    <div id="modal-background-light" class="hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-20" style="z-index: 9998;"></div>

    <%= render partial: "components/notifications" %>

    <div class="bg-gray-100 flex flex-row justify-start">
      <div class="w-64 h-screen bg-white border-r border-gray-200">
        <div class="h-12 border-b border-gray-200"></div>
        <div class="flex items-center mt-10 mx-8">
          <%= heroicon "clock", options: { class: "w-7 text-red-400" } %>
          <span class="mx-4 text-xl">Code Red</span>
        </div>

        <nav class="mt-10">
          <div class="py-2 px-8 capitalize text-gray-400 text-xs">PROJECTS</div>

          <a class="flex items-center mt-1 py-2 px-8 text-sm text-gray-600 bg-gray-100" href="#">
            <%= heroicon "clipboard-list", options: { class: "w-5" } %>
            <span class="mx-4 font-medium">My project</span>
          </a>
        </nav>

        <div class="absolute bottom-0 my-10">
          <a class="flex items-center py-2 px-8 text-gray-500 hover:text-gray-600" href="#">
            <%= heroicon "cog", options: { class: "w-5" } %>
            <span class="mx-4 font-medium">Settings</span>
          </a>
        </div>
      </div>

      <div class="w-full flex flex-col">
        <div class="h-12 bg-white border-b border-gray-200"></div>

        <%= yield %>
      </div>
    </div>

    <div class="fixed bottom-5 w-full text-center text-gray-400">
      <a href="https://florian.dejonckhee.re/" target="_blank">Made with <%= heroicon "heart", options: { class: "inline w-4 text-red-600" } %> in Belgium</a>
    </div>
  </body>
</html>
